<div class="card">
  <div class="card-header text-center">
    <h3>Lista de Hashtags</h3>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope='col'>Hashtag</th>
          <th scope='col'></th>
        </tr>
      </thead>
      <tbody>
        <% @hashtags.each do |hashtag| %>
          <tr>
            <td><%= hashtag.descricao %></td>
            <td>
              <div class="float-right">
                <%= form_for hashtag, method: :delete do |f| %>
                  <button type='submit' class='btn btn-danger'>
                    Deletar
                  </button>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class='text-center'>
      <%= link_to "+ Nova Hashtag", new_hashtag_path, class: 'btn btn-success' %>
    </div>
    </div>
</div>